.input-group{
    margin-top: 100px;
    margin-left: 10px;
    width: 400px !important;
    padding: 50px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.input-group input{
    width: 300px !important;
    border-radius: 0;
}

