@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.instructions {
    font-size: 0.75rem;
    color: red;
    position: relative;
    top: 3px;
    left: 3px;
    display: flex;
    align-items: center;
}

.fa-circle-xmark{
    position: relative;
    padding-right: 5px!important;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
}

.invalid {
    color: red;
    position: absolute;
    top: -30px;
    left: 1.5px;

}

.errmsg {
    top: 0;
    width: 100%;
    position: absolute;
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}



.line {
    display: inline-block;
}

.eyes{
    position: absolute;
    top: 116px;
    right: 10px;
}

.eyes i{
    cursor: pointer;
}

.eyesConfirm{
    position: absolute;
    top: 167.5px;
    right: 10px;
}

.eyesConfirm i{
    cursor: pointer;
}

.eye{
    position: absolute;
    top: 62px;
    right: 10px;
}

.eye i{
    cursor: pointer;
}

.login-form {
    width: 100%;
    min-height: 100vh;
}

.logo{
    width: 60px!important;
    margin: 0 auto;
}

.login-container {
    max-width: 600px;
    /*min-height: 400px;*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    margin: 100px auto 0 auto;
}

.login-title {
    text-align: center;
    padding: 20px 0 40px 0;
}

.login-title img {
    padding: 10px 0;
    width: 160px;
}

.login-title h1 {
    font-size: 30px;
}

.login-title p {
    color: grey;
    font-size: 15px;
    padding-top: 14px;
}

.login__form-inputs {
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    padding-bottom: 30px;
    position: relative;
}

.button-submit button {
    width: 100% !important;
    box-shadow: inherit !important;
    height: 45px !important;
    font-weight: 700;
    border-radius: 6px !important;
}

.button-submit button:hover {
    box-shadow: inherit !important;
}

.create-acc-forgot-pass {
    padding-top: 20px;
}

.create-acc-forgot-pass span {
    display: block;
    color: grey;
    font-size: 14px;
    padding: 5px 0;
}

.create-acc-forgot-pass span a {
    text-decoration: none;
    color: grey;
}

.create-acc-forgot-pass span:hover {
    text-decoration: underline;
    cursor: pointer;
}