body{
    background-color: #252525;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 400px;
    background-color: aliceblue;
    flex-direction: column;
}

.btn{
    margin-top: 15px;
    height: 40px;
<<<<<<< HEAD
    /*width: 40%;*/
=======
}

.btn:active{
    transition: 0.3s ease;
    transform: scale(.88);
>>>>>>> 28d4557b593e68f83d21c1519a56f5894fb58c32
}