body{
    background-color: #252525;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 400px;
    background-color: aliceblue;
    flex-direction: column;
}

.btn{
    margin-top: 15px;
    height: 40px;
    /*width: 40%;*/
    }

.btn:active{
    transition: 0.3s ease;
    transform: scale(.88);
}