*{
    text-decoration: none;
    list-style: none;
}

.class{
    color: red;
}

.count{
    color: purple;
}
.btnAdd{
    background-color: green;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.3s ease;
}
.btnAdd:hover{
    background-color: #029b02;
    cursor: pointer;
}

.btnMin{
    background-color: red;
    color: #fff;
    padding: 10px 40px;
    border: none;
    transition: 0.3s ease;
}
.btnMin:hover{
    background-color: #ff4e4e;
    cursor: pointer;
}

.btnRem{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.3s ease;
}
.btnRem:hover{
     background-color: #252525;
     cursor: pointer;
 }

.func{
    color: blue;
}

.success{
    color: purple;
    font-weight: bold;
}

.img{
    max-width: 100%;
    display: block;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    background-color: #029b02;
    color: #ffffff !important;
    padding: 0 40rem;
}

.nav .logo{
    position: relative;
    top: -10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}

.list-items li a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.app {
    padding: 30px 15px;
    margin-top: 10px;
    max-width: 700px;
    min-height: 300px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn{
    max-width: 1030px !important;
}